# docker
docker/data/output
docker/scripts/quick_test_1.sh
docker/scripts/quick_test_2.sh


# remote
remote/data/archive
remote/data/input
remote/data/output
remote/data/train_data
remote/data/sbc_train_dataset/old
remote/data/remote_train_dataset/old
remote/scripts/run_app_on_docker.sh


# sbc
sbc/data/archive
sbc/data/input
sbc/data/output
sbc/data/train_data
sbc/data/workloads/Old
sbc/data/workloads/workload_1
sbc/data/workloads/workload_2
sbc/data/workloads/workload_3