# docker
docker/scripts/quick_test_1.sh
docker/scripts/quick_test_2.sh


# remote
remote/data/archive
remote/data/ocr_output
remote/data/train_data
remote/data/remote_train_dataset/old


# sbc
sbc/data/archive
sbc/data/ocr_output
sbc/data/train_data
sbc/data/workloads/Old
sbc/data/workloads/workload_1
sbc/data/workloads/workload_2
sbc/data/workloads/workload_3